<nz-card>
    <nz-card-meta
        [nzTitle]="cardTitleTemplate"
        [nzDescription]="cardBodyTemplate"
    ></nz-card-meta>
    <ng-template #cardTitleTemplate>
        <h3>{{ data.title }}</h3>
        <h6>{{ data.updated_at | date }}</h6>
    </ng-template>
    <ng-template #cardBodyTemplate>
        <p>{{ data.description }}</p>
        <div class="service__chips">
            <ng-container *ngFor="let chip of data.subServices.split(',')">
                <span class="chip">{{ chip }}</span>
            </ng-container>
        </div>
    </ng-template>
    <!-- ACTONS FOR DISPLAY MODE -->
    <nz-divider></nz-divider>
    <div id="edit_service_card_footer">
        <div id="footer_actions" *ngIf="SERVICE_LOCAL_STATE === false">
            <span nz-icon nzType="edit"></span>
            <span nz-icon nzType="delete" (click)="delete(data.id)"></span>
        </div>
        <span
            nz-icon
            [nzType]="'sync'"
            [nzSpin]="true"
            *ngIf="SERVICE_LOCAL_STATE === true"
        ></span>
    </div>
</nz-card>
