.service__chips {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-top: 1rem;

    .chip {
        padding: .5rem 1rem;
        border-radius: .5rem;
        background-color: var(--dark-1);
    }
}

#edit_service_card_footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    #footer_actions {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        span {
            cursor: pointer;

            &:hover {
                color: #fff;
            }
        }
    }
}