<section id="blog__section_manage">
    <section class="module_main_display_area">
        <form [formGroup]="blogForm" *ngIf="blogForm">
            <div id="blog__section_manage_header">
                <div id="actions_bar">
                    <button nz-button nzType="default" id="add_cover_trigger">
                        Add cover image
                    </button>
                    <div id="main_actions">
                        <button
                            nz-button
                            nzType="primary"
                            id="add_cover_trigger"
                            (click)="savePost('valid')"
                            [disabled]="blogForm.valid === false"
                        >
                            Publish
                        </button>
                        <button
                            nz-button
                            nzType="default"
                            id="add_cover_trigger"
                            (click)="savePost('draft')"
                        >
                            Save Draft
                        </button>
                    </div>
                </div>
                <input
                    type="text"
                    id="blog_post_title"
                    placeholder="AWESOME TITLE HERE"
                    formControlName="post_title"
                />
            </div>
            <angular-editor
                [placeholder]="'Awsesome blog post here'"
                formControlName="post_content"
            ></angular-editor>
        </form>
    </section>
</section>
