<section id="blog__section_manage">
    <section class="module_main_display_area">
        <div id="blog__section_manage_header">
            <div id="actions_bar">
                <button nz-button nzType="default" id="add_cover_trigger">
                    Add cover image
                </button>
                <div id="main_actions">
                    <button nz-button nzType="primary" id="add_cover_trigger">
                        Publish
                    </button>
                    <button nz-button nzType="default" id="add_cover_trigger">
                        Save Draft
                    </button>
                </div>
            </div>
            <input
                type="text"
                name="blog_post_title"
                id="blog_post_title"
                placeholder="AWESOME TITLE HERE"
            />
        </div>
        <editor
            [init]="{ plugins: 'lists link image table code help wordcount' }"
            apiKey=""
            [(ngModel)]="dataModel"
        ></editor>
    </section>
</section>
