.module_main_display_area {
    display: block;

    .dataLabel {
        width: 100%;
        text-align: left;
    }

    small {
        display: block;
        width: 500px;
        margin: 1rem 0;
        font-size: .7rem;
        color: var(--light-2);
    }
}