<section id="faq__data_display_section">
    <ng-container *ngIf="isFetchingData === true">
        <span nz-icon [nzType]="'sync'" [nzSpin]="true"></span>
    </ng-container>

    <ng-container *ngIf="isFetchingData === false">
        <ng-container *ngIf="FAQ_DATA.length !== 0">
            <main id="faq_gridLayout">
                <ng-container *ngFor="let faq of FAQ_DATA">
                    <cmsy-faq-card [data]="faq"></cmsy-faq-card>
                </ng-container>
            </main>
        </ng-container>

        <ng-container *ngIf="FAQ_DATA.length === 0">
            <h3>NOT DATA FOUND!</h3>
        </ng-container>
    </ng-container>
</section>
