<div id="authenticated_navbar">
    <div id="notification_trigger">
        <span nz-icon nzType="bell" nzTheme="outline"></span>
    </div>
    <nz-avatar
        nzIcon="user"
        [nzSrc]="(auth0.user$ | async)?.picture"
        (click)="open()"
    ></nz-avatar>
</div>

<nz-drawer
    [nzClosable]="false"
    [nzVisible]="visible"
    nzPlacement="right"
    nzTitle="Basic Drawer"
    (nzOnClose)="close()"
>
    <ng-container *nzDrawerContent>
        <cmsy-user-profile></cmsy-user-profile>
    </ng-container>
</nz-drawer>
