<section id="faq__section">
    <cmsy-module-header
        [moduleName]="'Frequetly asked questions'"
        [moduleDescription]="
            'this module allows your to manage FAQ in your portfolio.'
        "
        (triggerFormEvent)="createNewFAQModalIsVisible = true"
    ></cmsy-module-header>
    <cmsy-faq-data></cmsy-faq-data>
</section>

<!-- ADD NEW MODAL -->
<nz-modal
    [(nzVisible)]="createNewFAQModalIsVisible"
    nzTitle="Create new FAQ"
    [nzFooter]="null"
>
    <ng-container *nzModalContent>
        <cmsy-faq-form (triggerCloseEvent)="createNewFAQModalIsVisible=false"></cmsy-faq-form>
    </ng-container>
</nz-modal>
