<section class="w-full h-full flex flex-row items-center justify-center">
    <div class="card w-96 bg-primary text-primary-content">
        <div class="card-body text-center">
            <h2 class="card-title mx-auto text-5xl">CMSY</h2>
            <p>This CMS can only be accessed by authorized personel</p>
            <div class="card-actions justify-center mt-4">
                <button class="btn btn-success" (click)="auth0.loginWithRedirect({
                    appState: { target: '/dashboard' }
                })">Log in</button>
            </div>
        </div>
    </div>
</section>