<section id="service__data_display">
    <ng-container *ngIf="isFetchingData === true">
        <span nz-icon [nzType]="'sync'" [nzSpin]="true"></span>
    </ng-container>

    <ng-container *ngIf="isFetchingData === false">
        <ng-container *ngIf="SERVICE_DATA.length !== 0">
            <main id="service_gridLayout">
                <ng-container *ngFor="let faq of SERVICE_DATA">
                    <cmsy-service-card
                        [data]="faq"
                        [postActionID]="POST_ACTION_ELEMENT"
                    ></cmsy-service-card>
                </ng-container>
            </main>
        </ng-container>
        <ng-container *ngIf="SERVICE_DATA.length === 0">
            <h3>NOT DATA FOUND!</h3>
        </ng-container>
    </ng-container>
</section>
