<section id="main_layout_container">
    <!-- USER IS LOGGED IN -->
    <ng-container *ngIf="(auth0.isAuthenticated$ | async) === true">
        <div id="authenticated_view_container">
            <cmsy-navbar></cmsy-navbar>

            <div>
                <cmsy-sidebar></cmsy-sidebar>
                <main>
                    <router-outlet></router-outlet>
                </main>
            </div>
        </div>
    </ng-container>

    <!-- USER IS NOT LOGGED IN -->
    <ng-container *ngIf="(auth0.isAuthenticated$ | async) === false">
        <cmsy-authentication-alert></cmsy-authentication-alert>
    </ng-container>

    <!-- @TODO LOADING STATE -->
    <ng-container *ngIf="(auth0.isLoading$ | async) === true">
        <cmsy-loading></cmsy-loading>
    </ng-container>
</section>
