<section class="w-full h-[100vh]">
    <!-- USER IS LOGGED IN -->
    <ng-container *ngIf="(auth0.isAuthenticated$ | async) === true">
        <div class="w-full h-[100vh]">
            <cmsy-navbar></cmsy-navbar>

            <div class="flex flex-row justify-between items-start mt-8">
                <cmsy-sidebar></cmsy-sidebar>
                <main class="w-full h-full py-4 px-8">
                    <router-outlet></router-outlet>
                </main>
            </div>
        </div>
    </ng-container>

    <!-- USER IS NOT LOGGED IN -->
    <ng-container *ngIf="(auth0.isAuthenticated$ | async) === false">
        <cmsy-authentication-alert></cmsy-authentication-alert>
    </ng-container>

    <!-- @TODO LOADING STATE -->
    <ng-container *ngIf="(auth0.isLoading$ | async) === true">
        <cmsy-loading></cmsy-loading>
    </ng-container>
</section>
