<div id="authenticated_user_profile">
    <div id="authenticated_user_sidebar_header">
        <img
            [src]="(auth0.user$ | async)?.picture"
            alt="user profile picture"
            id="authenticated_user_profile_picture"
        />
        <p>hi there 👋</p>
        <p>{{ (auth0.user$ | async)?.email }}</p>
    </div>
    <div id="authenticated_user_sidebar_footer">
        <button nz-button nzType="default" (click)="auth0.logout()" nzDanger>
            Sign out
        </button>
    </div>
</div>
