<div class="w-full h-full">
    <h2>Profile</h2>
    <div class="divider"></div>

    <div class="profilePicture relative w-full min-h-[320px] h-fit">
        <div class="w-full h-[160px] z-10" style="background: rgb(22,22,22); background: linear-gradient(90deg, rgba(22,22,22,1) 9%, rgba(107,107,107,1) 93%);"></div>
        <img [src]="(auth0.user$ | async)?.picture" alt="user profile picture" class="z-20 w-[200px] mx-auto absolute left-[50%] top-[20%] -translate-x-1/2 rounded-2xl" />
    </div>

    <h4 class="w-full text-center ">
        hi there 👋 <br>
        <strong>{{(auth0.user$ | async)?.email}}</strong>
    </h4>

    <div class="divider"></div>
    <button (click)="auth0.logout()">Sign out 🚪</button>
</div>