<ng-container *ngIf="faq_is_in_edit_mode === false">
    <nz-card>
        <!-- DISPLAYED IN SHOW MODE -->
        <ng-container *ngIf="faq_is_in_edit_mode === false">
            <nz-card-meta
                [nzTitle]="cardTitleTemplate"
                [nzDescription]="data.answer"
            ></nz-card-meta>
        </ng-container>
        <ng-template #cardTitleTemplate>
            <h3>{{ data.question }}</h3>
            <h6>{{ data.updated_at | date }}</h6>
        </ng-template>
        <!-- ACTONS FOR DISPLAY MODE -->
        <nz-divider></nz-divider>
        <div id="edit_faq_card_footer">
            <div
                id="fotter_actions"
                *ngIf="faq_being_worked_on_local_state === false"
            >
                <span
                    nz-icon
                    nzType="edit"
                    (click)="faq_is_in_edit_mode = true"
                ></span>
                <span
                    nz-icon
                    nzType="delete"
                    (click)="deleteFAQ(data.id)"
                ></span>
            </div>
            <span
                nz-icon
                [nzType]="'sync'"
                [nzSpin]="true"
                *ngIf="faq_being_worked_on_local_state === true"
            ></span>
        </div>
    </nz-card>
</ng-container>

<ng-container *ngIf="faq_is_in_edit_mode === true">
    <nz-card>
        <!-- DISPLAYED IN EDIT MODE -->
        <ng-container *ngIf="faq_is_in_edit_mode === true">
            <nz-form-item>
                <nz-form-label [nzSpan]="14">Question to display</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input
                        nz-input
                        placeholder="Question"
                        id="question_input"
                        #question_updated
                        [value]="data.question"
                    />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>Question's answer</nz-form-label>
                <nz-form-control>
                    <textarea
                        nz-input
                        [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                        placeholder="You need to press that button and that other one, then..."
                        id="answer_input"
                        #answer_updated
                        [value]="data.answer"
                    ></textarea>
                </nz-form-control>
            </nz-form-item>
        </ng-container>
        <!-- ACTONS FOR EDIT MODE -->
        <nz-divider></nz-divider>
        <div id="edit_faq_card_footer">
            <div
                id="fotter_actions"
                *ngIf="faq_being_worked_on_local_state === false"
            >
                <span
                    nz-icon
                    nzType="stop"
                    (click)="faq_is_in_edit_mode = false"
                ></span>
                <span nz-icon nzType="check" (click)="editFAQ(data.id)"></span>
            </div>
            <span
                nz-icon
                [nzType]="'sync'"
                [nzSpin]="true"
                *ngIf="faq_being_worked_on_local_state === true"
            ></span>
        </div>
    </nz-card>
</ng-container>
