<form [formGroup]="FAQ_FORM" nz-form [nzLayout]="'vertical'">
    <nz-form-item>
        <nz-form-label [nzSpan]="14">Question to display</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input
                nz-input
                placeholder="Question"
                formControlName="question"
                id="question_input"
            />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label>Question's answer</nz-form-label>
        <nz-form-control>
            <textarea
                nz-input
                [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                placeholder="You need to press that button and that other one, then..."
                id="answer_input"
                formControlName="answer"
            ></textarea>
        </nz-form-control>
    </nz-form-item>

    <nz-divider></nz-divider>
    <div id="create_faq_modal_footer">
        <button
            nz-button
            nzType="default"
            (click)="triggerCloseEvent.emit(true)"
        >
            Cancel
        </button>
        <button
            nz-button
            nzType="primary"
            [nzLoading]="DATA_IS_BEING_SENT"
            [disabled]="!FAQ_FORM.touched || !FAQ_FORM.valid"
            (click)="saveFAQS()"
        >
            save
        </button>
    </div>
</form>
