@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "/node_modules/ng-zorro-antd/ng-zorro-antd.dark.min.css";

// GLOBAL VARIABLES

:root {
    // SIZES
    --auth-screen-left-section: 540px;
    --top-navigation: 60px;
    --side-navigation: 200px;
    // COLORS
    --dark-1: #1E1E1E;
    --dark-2: #242424;
    --light-1: #333333;
}