<form [formGroup]="SERVICE_FORM" nz-form [nzLayout]="'vertical'">
    <div nz-row [nzGutter]="4">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label>Service Title</nz-form-label>
                <nz-form-control>
                    <input
                        nz-input
                        placeholder="Service Name"
                        formControlName="title"
                    />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label>Service CTA</nz-form-label>
                <nz-form-control>
                    <input
                        nz-input
                        placeholder="Read more"
                        formControlName="call_to_action"
                    />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label>Service Description</nz-form-label>
                <nz-form-control>
                    <textarea
                        nz-input
                        placeholder="description"
                        formControlName="description"
                    >
                    </textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row [nzGutter]="4">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label>Service's sub services</nz-form-label>
                <nz-form-control>
                    <textarea
                        nz-input
                        placeholder="sub_service_1,sub_service_2,sub_service_3,sub_service_4"
                        formControlName="subServices"
                    ></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-control>
                    <label nz-checkbox formControlName="service_has_faq">
                        Service has FAQ(s)
                    </label>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <nz-divider></nz-divider>
    <div id="create_service_modal_footer">
        <button
            nz-button
            nzType="default"
            (click)="triggerCloseEvent.emit(true)"
        >
            Cancel
        </button>
        <button
            nz-button
            nzType="primary"
            [nzLoading]="DATA_IS_BEING_SENT"
            [disabled]="!SERVICE_FORM.touched || !SERVICE_FORM.valid"
            (click)="saveService()"
        >
            save
        </button>
    </div>
</form>
